# Jira response varfile for quiet installation

app.install.service$Boolean=true
launch.application$Boolean=true
#executeLauncherAction$Boolean=true
portChoice=custom
httpPort$Long=8888
rmiPort$Long=8005
sys.installationDir=/opt/atlassian/jira
app.jiraHome=/var/atlassian/application-data/jira

# Backup/Upgrade or Full Installation
#backupJira$Boolean=true
#sys.confirmedUpdateInstallationString=true
#backupJira$Boolean=false
sys.confirmedUpdateInstallationString=false
sys.languageId=en